<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="top-toolbar" color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/welcome">INF554-Datum</a> 
    <a mat-button routerLink="/page-map">Map</a> 
    <a mat-button routerLink="/daily-risk">Daily Risk</a> 
    <a mat-button routerLink="/danger-ratio">Danger Ratio</a> 
    <span class="example-spacer"> </span>
    <a mat-button routerLink="/members">
      <mat-icon>face</mat-icon>
      Team
    </a>
    <a mat-button 
      href="https://github.com/INF554Fall18/project-datum/tree/master" 
      target="_blank">
      <img src="assets/github.png" height="22em">
      Github
    </a> 
  </mat-toolbar-row>
</mat-toolbar>
<!-- <h1> INF 554-Datum </h1> -->
<router-outlet></router-outlet>
