<header class="masthead">
    <div class="container" style="text-align:center ">
        <h1 class="masthead-heading mb-0" style ="color:white ; font-size: 4rem;">Los Angeles Accident Analysis and Highway Safety</h1>
        <!-- <h2 class="masthead-subheading mb-0" style ="color:white">Give You a Sense </h2> -->
        <a href="https://www.chp.ca.gov/home" class="btn btn-primary btn-xl rounded-pill mt-5">Data Source</a>
    </div>
</header>

<!-- About Section -->

<section id="about" class="about-section text-center">
    <div class="container">
        <h2 class="text-white mb-4">Abstract</h2>
        <p class="text-white">
          Traffic Safety is always a highly concerned topic in Los Angeles.<br/>
          And, freeway is part of daily traveling of most LA people.<br/>
          To help LA citizens knows highway traffic better. We collect traffic <br/>
          incidents happened in 2017 reported by California Highway Patrol.<br/>
          We've done several data research and analysis and we wish to share this <br/>
          knowledge to help people have safety driving.<br/>
          Here is where the story begin...
        </p>
        <h2 class="text-white mb-4">A Story of New Driver, Simpson in LA</h2>
        <a href="http://www-scf.usc.edu/~weichunw/final_pre.sozi.html" target="_blank">
          <img src="assets/story/Slide02.jpg" class="img-fluid" alt="">
        </a>
    </div>
</section>

<section id="projects" class="projects-section bg-light">
        <div class="container">
          <!-- Featured Project Row -->
          <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
              <img class="img-fluid mb-3 mb-lg-0" src="assets/story/Slide03.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-lg-left">
                <h4>As a new driver</h4>
                <p class="text-black-50 mb-0">Simpson is too nervous to drive, but Prof. Frink told him:"I can give you some advice with my data and chart"</p>
              </div>
            </div>
          </div>
    </div>
</section>

