<div class="container-fluid .text-secondary font-weight-bold border bg-light text-aligh:center my-padding">
  <h2> Dangers Ratio </h2>
  <li>There are dozens kind of incidents happend on LA highway.</li>
  <li>Beside, collisions we shows hierarchy of dangers on a packed bubble chart and there acctaul ratio on pie chart</li>
  <li>Click on the bubble of packing layout, the pie chart will show corresponding ratio of its children class</li>
  <li>Mouse over on bubble, tooltip will show</li>
  <br/>
  <h4>Note:</h4>
  <ul>
    <li>WWD represents Wrong Way Driver</li>
    <li>OBFFV represents OBject Flying From Vehicle</li>
    <li>DS represents Defective Signal</li>
  </ul>

  </div>

<div class="my-padding" style="text-align:center;">
  <div id="danger-ratio-div" style="display:inline-block" class= " .text-secondary font-weight-bold"></div>
  <div id="danger-control-div" style="display:inline-block"class =" .text-secondary font-weight-bold"></div>
  
</div>
