<h1>Meet the Team Datum!</h1>

<!-- <div class="example example-cover">
    <img src="mock-data/wang.jpeg">
    <img src="mock-data/lu.jpg">
    <img src="mock-data/xia.JPG">
</div> -->

<div id="container">
  <a href="#">
    <figure>
        <img src="assets/wang.jpeg" width="350px" height="350px" />
        <figcaption>Wei-Chung Wang</figcaption>
        <figcaption>weichuw@usc.edu</figcaption>
    </figure>
  </a>
  <a href="#">
    <figure>
        <img src="assets/lu.jpg" width="350px" height="350px" />
        <figcaption>Lu Zhang</figcaption>
        <figcaption>zhan634@usc.edu</figcaption>
    </figure>
  </a>
  <a href="#">
    <figure>
        <img src="assets/xia.png" width="350px" height="350px" />
        <figcaption>Ruolei Xia</figcaption>
        <figcaption>ruoleixi@usc.edu</figcaption>
    </figure>
  </a>
</div>