h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#container {
    text-align: center;
}

a, figure {
    display: inline-block;
}

figcaption {
    margin: 15px 0 0 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: black;
}

figure {
    padding: 5px;
}

img:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}